
<h1><%= @campaign.title %> </h1>
<p><%= @campaign.description %></p>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
  <% @campaign.image.each do |image| %>
    <%= cl_image_tag image, height: 300, witdh:400, crop: :fill %>
  Cool campaign
  <% end %>
</div>

<p> Post by <%= @campaign.user.email %></p>
<br>
<%= link_to "Back", root_path %>
<%= link_to "Edit", edit_campaign_path %>
<%= link_to "Delete", campaign_path, method: :delete, data: { confirm: "Are you sure?"} %>
